<!-- {% extends 'base.html' %}
{% load static %}

{% block title %}{{ recipe.title }} - SuperCook Clone{% endblock %}

{% block content %}
<section class="max-w-3xl mx-auto px-4 py-10">
    <div class="bg-white rounded-xl shadow-soft p-6 space-y-4">
        <h1 class="text-2xl font-bold">{{ recipe.title }}</h1>
        <div class="text-sm text-gray-600">
            <p>Servings: {{ recipe.servings }}</p>
        </div>
        <div>
            <h3 class="font-semibold mb-2">Ingredients</h3>
            <ul class="list-disc list-inside text-gray-700">
                {% for i in ingredients_list %}
                    <li>{{ i }}</li>
                 {% endfor %}
            </ul>
        </div>
        <div>
            <h3 class="font-semibold mb-2">Instructions</h3>
            <p class="text-gray-700 whitespace-pre-line">{{ recipe.instructions }}</p>
            <p>Servings: {{ recipe.servings }}</p>
        </div>
    </div>
</section>
{% endblock %} -->
